/**
亮色主题
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        --color-primary-100: 185 224 254;
        --color-primary-300: 54 172 250;
        --color-primary-500: 0 120 212;
        --color-primary-700: 1 90 163;
        --color-primary-900: 11 65 111;

    }
}