/**
@fileOverview 样式重置 写的时候能舒服一些
 */

/* 1. 使用更直观的盒模型 */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. 移除默认的外边距 */
* {
    margin: 0;
}

body {
    /* 3. 添加可访问的行高 */
    line-height: 1.5;
    /* 4. 改善文本渲染 */
    -webkit-font-smoothing: antialiased;
}

/* 5. 改善媒体默认样式 */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. 继承表单控件的字体 */
input, button, textarea, select {
    font: inherit;
}

/* 7. 避免文本溢出 */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. 改善换行 */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
  9. 创建根层叠上下文
*/
#root, #__next {
    isolation: isolate;
}